<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Eduardo Villota eduardouio7@gmail.com">
    <meta name="description" content="Aplicacion de Manejo de importaciones">
    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/cordovez.css') }}">
    <style>@page {size: auto;}</style>
    <!-- <link rel="stylesheet" href="{{ static('css/animate.css') }}"> -->
    <link rel="icon" href="{{ static('favicon.ico') }}" type="image/x-icon"/>
	  <link rel="shortcut icon" href="{{ static('favicon.ico') }} type="image/x-icon"/>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
      var host = 'http://{{ data.host }}'
    </script>
    {% block header %}{# librerias js adicionales #}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>{{ data.title_page }}</title>
</head>
<body>    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
       <a class="navbar-brand" href="/">Agencia y Representaciones Cordovez S.A.</a>
      <!-- <a class="navbar-brand" href="/">IMNAC Importadora Nacional Cia. Ltda.</a> -->
      <!-- <a class="navbar-brand" href="/">VID Internacional S.A.</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline mt-2 mt-md-0" method="post" action="/pedidos/ficha/000-00/">
          {{ csrf_input }}
          <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" name="query">
        </form>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/orders/order/"><i class="fas fa-cubes"></i> Pedidos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a href="/admin/paids/paidinvoice/" class="nav-link"><i class="fa fa-file"></i> Justificaciones</a>
          </li>                        
          <li class="nav-item">
              <a href="/admin/suppliers/supplier/" class="nav-link"><i class="fa fa-users"></i> Proveedores</a>
          </li>
          <li class="nav-item">
              <a href="/admin/products/product/" class="nav-link"><i class="fa fa-cube"></i> Productos</a>
          </li>
          <li class="nav-item">
              <a href="#" class="nav-link"><i class="fa fa-table"></i> Reportes</a>
          </li>
          <li class="nav-item">
            <a href="/admin/paids/paidinvoice/add/" class="nav-link"><i class="fa fa-file"></i> N. Factura</a>
          </li>
          <li class="nav-item">
            <a href="/admin/orders/order/add/" class="nav-link"><i class="fa fa-cubes"></i> N Pedido</a>
          </li>
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog"></i> 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/logout/">Salir</a>
        </div>         
        </ul>
      </div>
    </nav>  
    <br /><br /><br />
  </body>
  <div class="container-fluid">
    {% block title_content %}{% endblock title_content %}
    <div class="row" style="padding:1px"></div>
    {% block content %} {% endblock %}
  </div>
  <br>
  <footer class="footer">
  <div class="container-fluid">  
  <div class="row">
  <div class="col-12 text-right" style="line-height: 1">
  <div style="border-right:0.04rem solid teal;padding:0.3rem">
  <small>
        http://{{ data.host }}  
        🏢 &copy;Todos los Derechos reservados AGENCIAS Y REPRESENTACIONES CORDOVEZ S.A.<br>
        💻: Eduardo Villota M.
        <br />
        📧: <a href="mailto:eduardouio7@gmail.com">eduardouio7@gmail.com</a>
      </small>
  </div>
  </div>
  </div>
  </div>
</footer>
<script src="{{ static("js/jquery-3.3.1.slim.min.js") }}"></script>
<script src="{{ static("js/bootstrap.min.js") }}"></script>
<script>
  {% block script %}
  {% endblock script %}
</script>
{% block footer %}
{% endblock %}
</body>
</html>