html {
	font-size: 12px;
	line-height: 16px
}

.g-d-c,
.g-all-c {
	*zoom: 1;
	width: 940px
}

.g-d-c:after,
.g-all-c:after {
	content: "";
	display: table;
	clear: both
}

.g-d-c.g-centered,
.g-centered.g-all-c {
	float: none;
	margin: 0 auto
}

.g-d {
	float: left;
	*zoom: 1
}

.g-d:after {
	content: "";
	display: table;
	clear: both
}

.g-d-f,
.g-all-f,
.g-all-fl,
.l-2c .c-1,
.l-2cr .c-1 {
	margin-left: 0 !important;
	margin-right: 20px !important;
	clear: left
}

.g-d-l,
.g-all-l,
.g-all-fl,
.l-2c .c-2,
.l-2cr .c-2 {
	margin-right: 0 !important
}

.g-d-prepend24 {
	padding-left: 960px !important
}

.g-d-append24,
.l-2cr-fluid.l-d-24 .c-2 {
	padding-right: 960px !important
}

.g-d-push24 {
	position: relative;
	margin-left: 960px !important;
	margin-right: -960px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull24 {
	position: relative;
	margin-left: -940px !important
}

.g-d-doublepull24,
.l-2cr-fluid.l-d-24 .c-1 {
	position: relative;
	margin-left: -1960px !important
}

.g-d-prepend23 {
	padding-left: 920px !important
}

.g-d-append23,
.l-2cr-fluid.l-d-23 .c-2 {
	padding-right: 920px !important
}

.g-d-push23 {
	position: relative;
	margin-left: 920px !important;
	margin-right: -920px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull23 {
	position: relative;
	margin-left: -900px !important
}

.g-d-doublepull23,
.l-2cr-fluid.l-d-23 .c-1 {
	position: relative;
	margin-left: -1880px !important
}

.g-d-prepend22 {
	padding-left: 880px !important
}

.g-d-append22,
.l-2cr-fluid.l-d-22 .c-2 {
	padding-right: 880px !important
}

.g-d-push22 {
	position: relative;
	margin-left: 880px !important;
	margin-right: -880px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull22 {
	position: relative;
	margin-left: -860px !important
}

.g-d-doublepull22,
.l-2cr-fluid.l-d-22 .c-1 {
	position: relative;
	margin-left: -1800px !important
}

.g-d-prepend21 {
	padding-left: 840px !important
}

.g-d-append21,
.l-2cr-fluid.l-d-21 .c-2 {
	padding-right: 840px !important
}

.g-d-push21 {
	position: relative;
	margin-left: 840px !important;
	margin-right: -840px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull21 {
	position: relative;
	margin-left: -820px !important
}

.g-d-doublepull21,
.l-2cr-fluid.l-d-21 .c-1 {
	position: relative;
	margin-left: -1720px !important
}

.g-d-prepend20 {
	padding-left: 800px !important
}

.g-d-append20,
.l-2cr-fluid.l-d-20 .c-2 {
	padding-right: 800px !important
}

.g-d-push20 {
	position: relative;
	margin-left: 800px !important;
	margin-right: -800px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull20 {
	position: relative;
	margin-left: -780px !important
}

.g-d-doublepull20,
.l-2cr-fluid.l-d-20 .c-1 {
	position: relative;
	margin-left: -1640px !important
}

.g-d-prepend19 {
	padding-left: 760px !important
}

.g-d-append19,
.l-2cr-fluid.l-d-19 .c-2 {
	padding-right: 760px !important
}

.g-d-push19 {
	position: relative;
	margin-left: 760px !important;
	margin-right: -760px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull19 {
	position: relative;
	margin-left: -740px !important
}

.g-d-doublepull19,
.l-2cr-fluid.l-d-19 .c-1 {
	position: relative;
	margin-left: -1560px !important
}

.g-d-prepend18 {
	padding-left: 720px !important
}

.g-d-append18,
.l-2cr-fluid.l-d-18 .c-2 {
	padding-right: 720px !important
}

.g-d-push18 {
	position: relative;
	margin-left: 720px !important;
	margin-right: -720px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull18 {
	position: relative;
	margin-left: -700px !important
}

.g-d-doublepull18,
.l-2cr-fluid.l-d-18 .c-1 {
	position: relative;
	margin-left: -1480px !important
}

.g-d-prepend17 {
	padding-left: 680px !important
}

.g-d-append17,
.l-2cr-fluid.l-d-17 .c-2 {
	padding-right: 680px !important
}

.g-d-push17 {
	position: relative;
	margin-left: 680px !important;
	margin-right: -680px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull17 {
	position: relative;
	margin-left: -660px !important
}

.g-d-doublepull17,
.l-2cr-fluid.l-d-17 .c-1 {
	position: relative;
	margin-left: -1400px !important
}

.g-d-prepend16 {
	padding-left: 640px !important
}

.g-d-append16,
.l-2cr-fluid.l-d-16 .c-2 {
	padding-right: 640px !important
}

.g-d-push16,
.l-2cr .c-1 {
	position: relative;
	margin-left: 640px !important;
	margin-right: -640px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull16 {
	position: relative;
	margin-left: -620px !important
}

.g-d-doublepull16,
.l-2cr-fluid.l-d-16 .c-1 {
	position: relative;
	margin-left: -1320px !important
}

.g-d-prepend15 {
	padding-left: 600px !important
}

.g-d-append15,
.l-2cr-fluid.l-d-15 .c-2 {
	padding-right: 600px !important
}

.g-d-push15 {
	position: relative;
	margin-left: 600px !important;
	margin-right: -600px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull15 {
	position: relative;
	margin-left: -580px !important
}

.g-d-doublepull15,
.l-2cr-fluid.l-d-15 .c-1 {
	position: relative;
	margin-left: -1240px !important
}

.g-d-prepend14 {
	padding-left: 560px !important
}

.g-d-append14,
.l-2cr-fluid.l-d-14 .c-2 {
	padding-right: 560px !important
}

.g-d-push14 {
	position: relative;
	margin-left: 560px !important;
	margin-right: -560px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull14 {
	position: relative;
	margin-left: -540px !important
}

.g-d-doublepull14,
.l-2cr-fluid.l-d-14 .c-1 {
	position: relative;
	margin-left: -1160px !important
}

.g-d-prepend13 {
	padding-left: 520px !important
}

.g-d-append13,
.l-2cr-fluid.l-d-13 .c-2 {
	padding-right: 520px !important
}

.g-d-push13 {
	position: relative;
	margin-left: 520px !important;
	margin-right: -520px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull13 {
	position: relative;
	margin-left: -500px !important
}

.g-d-doublepull13,
.l-2cr-fluid.l-d-13 .c-1 {
	position: relative;
	margin-left: -1080px !important
}

.g-d-prepend12 {
	padding-left: 480px !important
}

.g-d-append12,
.l-2cr-fluid.l-d-12 .c-2 {
	padding-right: 480px !important
}

.g-d-push12 {
	position: relative;
	margin-left: 480px !important;
	margin-right: -480px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull12 {
	position: relative;
	margin-left: -460px !important
}

.g-d-doublepull12,
.l-2cr-fluid.l-d-12 .c-1 {
	position: relative;
	margin-left: -1000px !important
}

.g-d-prepend11 {
	padding-left: 440px !important
}

.g-d-append11,
.l-2cr-fluid.l-d-11 .c-2 {
	padding-right: 440px !important
}

.g-d-push11 {
	position: relative;
	margin-left: 440px !important;
	margin-right: -440px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull11 {
	position: relative;
	margin-left: -420px !important
}

.g-d-doublepull11,
.l-2cr-fluid.l-d-11 .c-1 {
	position: relative;
	margin-left: -920px !important
}

.g-d-prepend10 {
	padding-left: 400px !important
}

.g-d-append10,
.l-2cr-fluid.l-d-10 .c-2 {
	padding-right: 400px !important
}

.g-d-push10 {
	position: relative;
	margin-left: 400px !important;
	margin-right: -400px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull10 {
	position: relative;
	margin-left: -380px !important
}

.g-d-doublepull10,
.l-2cr-fluid.l-d-10 .c-1 {
	position: relative;
	margin-left: -840px !important
}

.g-d-prepend9 {
	padding-left: 360px !important
}

.g-d-append9,
.l-2cr-fluid.l-d-9 .c-2 {
	padding-right: 360px !important
}

.g-d-push9 {
	position: relative;
	margin-left: 360px !important;
	margin-right: -360px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull9 {
	position: relative;
	margin-left: -340px !important
}

.g-d-doublepull9,
.l-2cr-fluid.l-d-9 .c-1 {
	position: relative;
	margin-left: -760px !important
}

.g-d-prepend8 {
	padding-left: 320px !important
}

.g-d-append8,
.l-2cr-fluid.l-d-8 .c-2 {
	padding-right: 320px !important
}

.g-d-push8 {
	position: relative;
	margin-left: 320px !important;
	margin-right: -320px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull8,
.l-2cr .c-2 {
	position: relative;
	margin-left: -300px !important
}

.g-d-doublepull8,
.l-2cr-fluid.l-d-8 .c-1 {
	position: relative;
	margin-left: -680px !important
}

.g-d-prepend7 {
	padding-left: 280px !important
}

.g-d-append7,
.l-2cr-fluid.l-d-7 .c-2 {
	padding-right: 280px !important
}

.g-d-push7 {
	position: relative;
	margin-left: 280px !important;
	margin-right: -280px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull7 {
	position: relative;
	margin-left: -260px !important
}

.g-d-doublepull7,
.l-2cr-fluid.l-d-7 .c-1 {
	position: relative;
	margin-left: -600px !important
}

.g-d-prepend6 {
	padding-left: 240px !important
}

.g-d-append6,
.l-2cr-fluid.l-d-6 .c-2 {
	padding-right: 240px !important
}

.g-d-push6 {
	position: relative;
	margin-left: 240px !important;
	margin-right: -240px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull6 {
	position: relative;
	margin-left: -220px !important
}

.g-d-doublepull6,
.l-2cr-fluid.l-d-6 .c-1 {
	position: relative;
	margin-left: -520px !important
}

.g-d-prepend5 {
	padding-left: 200px !important
}

.g-d-append5,
.l-2cr-fluid.l-d-5 .c-2 {
	padding-right: 200px !important
}

.g-d-push5 {
	position: relative;
	margin-left: 200px !important;
	margin-right: -200px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull5 {
	position: relative;
	margin-left: -180px !important
}

.g-d-doublepull5,
.l-2cr-fluid.l-d-5 .c-1 {
	position: relative;
	margin-left: -440px !important
}

.g-d-prepend4 {
	padding-left: 160px !important
}

.g-d-append4,
.l-2cr-fluid.l-d-4 .c-2 {
	padding-right: 160px !important
}

.g-d-push4 {
	position: relative;
	margin-left: 160px !important;
	margin-right: -160px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull4 {
	position: relative;
	margin-left: -140px !important
}

.g-d-doublepull4,
.l-2cr-fluid.l-d-4 .c-1 {
	position: relative;
	margin-left: -360px !important
}

.g-d-prepend3 {
	padding-left: 120px !important
}

.g-d-append3,
.l-2cr-fluid.l-d-3 .c-2 {
	padding-right: 120px !important
}

.g-d-push3 {
	position: relative;
	margin-left: 120px !important;
	margin-right: -120px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull3 {
	position: relative;
	margin-left: -100px !important
}

.g-d-doublepull3,
.l-2cr-fluid.l-d-3 .c-1 {
	position: relative;
	margin-left: -280px !important
}

.g-d-prepend2 {
	padding-left: 80px !important
}

.g-d-append2,
.l-2cr-fluid.l-d-2 .c-2 {
	padding-right: 80px !important
}

.g-d-push2 {
	position: relative;
	margin-left: 80px !important;
	margin-right: -80px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull2 {
	position: relative;
	margin-left: -60px !important
}

.g-d-doublepull2,
.l-2cr-fluid.l-d-2 .c-1 {
	position: relative;
	margin-left: -200px !important
}

.g-d-prepend1 {
	padding-left: 40px !important
}

.g-d-append1,
.l-2cr-fluid.l-d-1 .c-2 {
	padding-right: 40px !important
}

.g-d-push1 {
	position: relative;
	margin-left: 40px !important;
	margin-right: -40px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull1 {
	position: relative;
	margin-left: -20px !important
}

.g-d-doublepull1,
.l-2cr-fluid.l-d-1 .c-1 {
	position: relative;
	margin-left: -120px !important
}

.g-d-prepend0 {
	padding-left: 0px !important
}

.g-d-append0 {
	padding-right: 0px !important
}

.g-d-push0 {
	position: relative;
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-top: 0;
	margin-bottom: 0
}

.g-d-pull0 {
	position: relative;
	margin-left: 20px !important
}

.g-d-doublepull0 {
	position: relative;
	margin-left: -40px !important
}

.g-d-24,
.l-2c,
.l-2cr,
.l-2cr-fluid.l-d-24 .c-1 {
	float: left;
	*zoom: 1;
	margin-left: 0 !important;
	margin-right: 0 !important;
	clear: both;
	width: 940px
}

.g-d-24:after,
.l-2c:after,
.l-2cr:after,
.l-2cr-fluid.l-d-24 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-23,
.l-2cr-fluid.l-d-23 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 900px
}

.g-d-23:after,
.l-2cr-fluid.l-d-23 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-22,
.l-2cr-fluid.l-d-22 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 860px
}

.g-d-22:after,
.l-2cr-fluid.l-d-22 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-21,
.l-2cr-fluid.l-d-21 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 820px
}

.g-d-21:after,
.l-2cr-fluid.l-d-21 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-20,
.l-2cr-fluid.l-d-20 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 780px
}

.g-d-20:after,
.l-2cr-fluid.l-d-20 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-19,
.l-2cr-fluid.l-d-19 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 740px
}

.g-d-19:after,
.l-2cr-fluid.l-d-19 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-18,
.l-2cr-fluid.l-d-18 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 700px
}

.g-d-18:after,
.l-2cr-fluid.l-d-18 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-17,
.l-2cr-fluid.l-d-17 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 660px
}

.g-d-17:after,
.l-2cr-fluid.l-d-17 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-16,
.l-2c .c-2,
.l-2cr .c-2,
.l-2cr-fluid.l-d-16 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 620px
}

.g-d-16:after,
.l-2c .c-2:after,
.l-2cr .c-2:after,
.l-2cr-fluid.l-d-16 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-15,
.l-2cr-fluid.l-d-15 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 580px
}

.g-d-15:after,
.l-2cr-fluid.l-d-15 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-14,
.l-2cr-fluid.l-d-14 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 540px
}

.g-d-14:after,
.l-2cr-fluid.l-d-14 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-13,
.l-2cr-fluid.l-d-13 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 500px
}

.g-d-13:after,
.l-2cr-fluid.l-d-13 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-12,
.l-2cr-fluid.l-d-12 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 460px
}

.g-d-12:after,
.l-2cr-fluid.l-d-12 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-11,
.l-2cr-fluid.l-d-11 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 420px
}

.g-d-11:after,
.l-2cr-fluid.l-d-11 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-10,
.l-2cr-fluid.l-d-10 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 380px
}

.g-d-10:after,
.l-2cr-fluid.l-d-10 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-9,
.l-2cr-fluid.l-d-9 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 340px
}

.g-d-9:after,
.l-2cr-fluid.l-d-9 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-8,
.l-2c .c-1,
.l-2cr .c-1,
.l-2cr-fluid.l-d-8 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 300px
}

.g-d-8:after,
.l-2c .c-1:after,
.l-2cr .c-1:after,
.l-2cr-fluid.l-d-8 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-7,
.l-2cr-fluid.l-d-7 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 260px
}

.g-d-7:after,
.l-2cr-fluid.l-d-7 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-6,
.l-2cr-fluid.l-d-6 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 220px
}

.g-d-6:after,
.l-2cr-fluid.l-d-6 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-5,
.l-2cr-fluid.l-d-5 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 180px
}

.g-d-5:after,
.l-2cr-fluid.l-d-5 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-4,
.l-2cr-fluid.l-d-4 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 140px
}

.g-d-4:after,
.l-2cr-fluid.l-d-4 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-3,
.l-2cr-fluid.l-d-3 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 100px
}

.g-d-3:after,
.l-2cr-fluid.l-d-3 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-2,
.l-2cr-fluid.l-d-2 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 60px
}

.g-d-2:after,
.l-2cr-fluid.l-d-2 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-1,
.l-2cr-fluid.l-d-1 .c-1 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: 20px
}

.g-d-1:after,
.l-2cr-fluid.l-d-1 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-0 {
	float: left;
	*zoom: 1;
	margin-right: 20px;
	width: -20px
}

.g-d-0:after {
	content: "";
	display: table;
	clear: both
}

.g-d-24-td,
.l-2c-fluid:not(.grp-cell).l-d-24 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-24 .c-1 {
	float: left;
	*zoom: 1;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
	clear: both;
	width: 940px;
	min-width: 940px;
	float: none;
	display: table-cell
}

.g-d-24-td:after,
.l-2c-fluid:not(.grp-cell).l-d-24 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-24 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-23-td,
.l-2c-fluid:not(.grp-cell).l-d-23 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-23 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 900px;
	min-width: 900px;
	float: none;
	display: table-cell
}

.g-d-23-td:after,
.l-2c-fluid:not(.grp-cell).l-d-23 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-23 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-22-td,
.l-2c-fluid:not(.grp-cell).l-d-22 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-22 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 860px;
	min-width: 860px;
	float: none;
	display: table-cell
}

.g-d-22-td:after,
.l-2c-fluid:not(.grp-cell).l-d-22 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-22 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-21-td,
.l-2c-fluid:not(.grp-cell).l-d-21 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-21 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 820px;
	min-width: 820px;
	float: none;
	display: table-cell
}

.g-d-21-td:after,
.l-2c-fluid:not(.grp-cell).l-d-21 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-21 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-20-td,
.l-2c-fluid:not(.grp-cell).l-d-20 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-20 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 780px;
	min-width: 780px;
	float: none;
	display: table-cell
}

.g-d-20-td:after,
.l-2c-fluid:not(.grp-cell).l-d-20 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-20 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-19-td,
.l-2c-fluid:not(.grp-cell).l-d-19 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-19 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 740px;
	min-width: 740px;
	float: none;
	display: table-cell
}

.g-d-19-td:after,
.l-2c-fluid:not(.grp-cell).l-d-19 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-19 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-18-td,
.l-2c-fluid:not(.grp-cell).l-d-18 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-18 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 700px;
	min-width: 700px;
	float: none;
	display: table-cell
}

.g-d-18-td:after,
.l-2c-fluid:not(.grp-cell).l-d-18 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-18 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-17-td,
.l-2c-fluid:not(.grp-cell).l-d-17 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-17 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 660px;
	min-width: 660px;
	float: none;
	display: table-cell
}

.g-d-17-td:after,
.l-2c-fluid:not(.grp-cell).l-d-17 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-17 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-16-td,
.l-2c-fluid:not(.grp-cell).l-d-16 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-16 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 620px;
	min-width: 620px;
	float: none;
	display: table-cell
}

.g-d-16-td:after,
.l-2c-fluid:not(.grp-cell).l-d-16 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-16 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-15-td,
.l-2c-fluid:not(.grp-cell).l-d-15 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-15 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 580px;
	min-width: 580px;
	float: none;
	display: table-cell
}

.g-d-15-td:after,
.l-2c-fluid:not(.grp-cell).l-d-15 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-15 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-14-td,
.l-2c-fluid:not(.grp-cell).l-d-14 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-14 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 540px;
	min-width: 540px;
	float: none;
	display: table-cell
}

.g-d-14-td:after,
.l-2c-fluid:not(.grp-cell).l-d-14 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-14 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-13-td,
.l-2c-fluid:not(.grp-cell).l-d-13 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-13 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 500px;
	min-width: 500px;
	float: none;
	display: table-cell
}

.g-d-13-td:after,
.l-2c-fluid:not(.grp-cell).l-d-13 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-13 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-12-td,
.l-2c-fluid:not(.grp-cell).l-d-12 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-12 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 460px;
	min-width: 460px;
	float: none;
	display: table-cell
}

.g-d-12-td:after,
.l-2c-fluid:not(.grp-cell).l-d-12 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-12 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-11-td,
.l-2c-fluid:not(.grp-cell).l-d-11 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-11 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 420px;
	min-width: 420px;
	float: none;
	display: table-cell
}

.g-d-11-td:after,
.l-2c-fluid:not(.grp-cell).l-d-11 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-11 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-10-td,
.l-2c-fluid:not(.grp-cell).l-d-10 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-10 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 380px;
	min-width: 380px;
	float: none;
	display: table-cell
}

.g-d-10-td:after,
.l-2c-fluid:not(.grp-cell).l-d-10 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-10 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-9-td,
.l-2c-fluid:not(.grp-cell).l-d-9 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-9 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 340px;
	min-width: 340px;
	float: none;
	display: table-cell
}

.g-d-9-td:after,
.l-2c-fluid:not(.grp-cell).l-d-9 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-9 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-8-td,
.l-2c-fluid:not(.grp-cell).l-d-8 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-8 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 300px;
	min-width: 300px;
	float: none;
	display: table-cell
}

.g-d-8-td:after,
.l-2c-fluid:not(.grp-cell).l-d-8 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-8 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-7-td,
.l-2c-fluid:not(.grp-cell).l-d-7 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-7 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 260px;
	min-width: 260px;
	float: none;
	display: table-cell
}

.g-d-7-td:after,
.l-2c-fluid:not(.grp-cell).l-d-7 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-7 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-6-td,
.l-2c-fluid:not(.grp-cell).l-d-6 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-6 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 220px;
	min-width: 220px;
	float: none;
	display: table-cell
}

.g-d-6-td:after,
.l-2c-fluid:not(.grp-cell).l-d-6 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-6 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-5-td,
.l-2c-fluid:not(.grp-cell).l-d-5 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-5 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 180px;
	min-width: 180px;
	float: none;
	display: table-cell
}

.g-d-5-td:after,
.l-2c-fluid:not(.grp-cell).l-d-5 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-5 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-4-td,
.l-2c-fluid:not(.grp-cell).l-d-4 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-4 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 140px;
	/**min-width: 140px;**/
	float: none;
	display: table-cell
}

.g-d-4-td:after,
.l-2c-fluid:not(.grp-cell).l-d-4 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-4 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-3-td,
.l-2c-fluid:not(.grp-cell).l-d-3 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-3 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 100px;
	min-width: 100px;
	float: none;
	display: table-cell
}

.g-d-3-td:after,
.l-2c-fluid:not(.grp-cell).l-d-3 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-3 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-2-td,
.l-2c-fluid:not(.grp-cell).l-d-2 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-2 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 60px;
	min-width: 60px;
	float: none;
	display: table-cell
}

.g-d-2-td:after,
.l-2c-fluid:not(.grp-cell).l-d-2 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-2 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-1-td,
.l-2c-fluid:not(.grp-cell).l-d-1 .c-1,
.grp-module .l-2c-fluid.grp-cell.l-d-1 .c-1 {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: 20px;
	min-width: 20px;
	float: none;
	display: table-cell
}

.g-d-1-td:after,
.l-2c-fluid:not(.grp-cell).l-d-1 .c-1:after,
.grp-module .l-2c-fluid.grp-cell.l-d-1 .c-1:after {
	content: "";
	display: table;
	clear: both
}

.g-d-0-td {
	float: left;
	*zoom: 1;
	padding-right: 20px;
	width: -20px;
	min-width: -20px;
	float: none;
	display: table-cell
}

.g-d-0-td:after {
	content: "";
	display: table;
	clear: both
}

.g-d-24 input[type="text"],
.l-2c input[type="text"],
.l-2cr input[type="text"],
.l-2cr-fluid.l-d-24 .c-1 input[type="text"],
.g-d-24 input[type="email"],
.l-2c input[type="email"],
.l-2cr input[type="email"],
.l-2cr-fluid.l-d-24 .c-1 input[type="email"],
.g-d-24 input[type="password"],
.l-2c input[type="password"],
.l-2cr input[type="password"],
.l-2cr-fluid.l-d-24 .c-1 input[type="password"],
.g-d-24 select,
.l-2c select,
.l-2cr select,
.l-2cr-fluid.l-d-24 .c-1 select,
.g-d-24 textarea,
.l-2c textarea,
.l-2cr textarea,
.l-2cr-fluid.l-d-24 .c-1 textarea {
	width: 100%
}

.g-d-23 input[type="text"],
.l-2cr-fluid.l-d-23 .c-1 input[type="text"],
.g-d-23 input[type="email"],
.l-2cr-fluid.l-d-23 .c-1 input[type="email"],
.g-d-23 input[type="password"],
.l-2cr-fluid.l-d-23 .c-1 input[type="password"],
.g-d-23 select,
.l-2cr-fluid.l-d-23 .c-1 select,
.g-d-23 textarea,
.l-2cr-fluid.l-d-23 .c-1 textarea {
	width: 100%
}

.g-d-22 input[type="text"],
.l-2cr-fluid.l-d-22 .c-1 input[type="text"],
.g-d-22 input[type="email"],
.l-2cr-fluid.l-d-22 .c-1 input[type="email"],
.g-d-22 input[type="password"],
.l-2cr-fluid.l-d-22 .c-1 input[type="password"],
.g-d-22 select,
.l-2cr-fluid.l-d-22 .c-1 select,
.g-d-22 textarea,
.l-2cr-fluid.l-d-22 .c-1 textarea {
	width: 100%
}

.g-d-21 input[type="text"],
.l-2cr-fluid.l-d-21 .c-1 input[type="text"],
.g-d-21 input[type="email"],
.l-2cr-fluid.l-d-21 .c-1 input[type="email"],
.g-d-21 input[type="password"],
.l-2cr-fluid.l-d-21 .c-1 input[type="password"],
.g-d-21 select,
.l-2cr-fluid.l-d-21 .c-1 select,
.g-d-21 textarea,
.l-2cr-fluid.l-d-21 .c-1 textarea {
	width: 100%
}

.g-d-20 input[type="text"],
.l-2cr-fluid.l-d-20 .c-1 input[type="text"],
.g-d-20 input[type="email"],
.l-2cr-fluid.l-d-20 .c-1 input[type="email"],
.g-d-20 input[type="password"],
.l-2cr-fluid.l-d-20 .c-1 input[type="password"],
.g-d-20 select,
.l-2cr-fluid.l-d-20 .c-1 select,
.g-d-20 textarea,
.l-2cr-fluid.l-d-20 .c-1 textarea {
	width: 100%
}

.g-d-19 input[type="text"],
.l-2cr-fluid.l-d-19 .c-1 input[type="text"],
.g-d-19 input[type="email"],
.l-2cr-fluid.l-d-19 .c-1 input[type="email"],
.g-d-19 input[type="password"],
.l-2cr-fluid.l-d-19 .c-1 input[type="password"],
.g-d-19 select,
.l-2cr-fluid.l-d-19 .c-1 select,
.g-d-19 textarea,
.l-2cr-fluid.l-d-19 .c-1 textarea {
	width: 100%
}

.g-d-18 input[type="text"],
.l-2cr-fluid.l-d-18 .c-1 input[type="text"],
.g-d-18 input[type="email"],
.l-2cr-fluid.l-d-18 .c-1 input[type="email"],
.g-d-18 input[type="password"],
.l-2cr-fluid.l-d-18 .c-1 input[type="password"],
.g-d-18 select,
.l-2cr-fluid.l-d-18 .c-1 select,
.g-d-18 textarea,
.l-2cr-fluid.l-d-18 .c-1 textarea {
	width: 100%
}

.g-d-17 input[type="text"],
.l-2cr-fluid.l-d-17 .c-1 input[type="text"],
.g-d-17 input[type="email"],
.l-2cr-fluid.l-d-17 .c-1 input[type="email"],
.g-d-17 input[type="password"],
.l-2cr-fluid.l-d-17 .c-1 input[type="password"],
.g-d-17 select,
.l-2cr-fluid.l-d-17 .c-1 select,
.g-d-17 textarea,
.l-2cr-fluid.l-d-17 .c-1 textarea {
	width: 100%
}

.g-d-16 input[type="text"],
.l-2c .c-2 input[type="text"],
.l-2cr .c-2 input[type="text"],
.l-2cr-fluid.l-d-16 .c-1 input[type="text"],
.g-d-16 input[type="email"],
.l-2c .c-2 input[type="email"],
.l-2cr .c-2 input[type="email"],
.l-2cr-fluid.l-d-16 .c-1 input[type="email"],
.g-d-16 input[type="password"],
.l-2c .c-2 input[type="password"],
.l-2cr .c-2 input[type="password"],
.l-2cr-fluid.l-d-16 .c-1 input[type="password"],
.g-d-16 select,
.l-2c .c-2 select,
.l-2cr .c-2 select,
.l-2cr-fluid.l-d-16 .c-1 select,
.g-d-16 textarea,
.l-2c .c-2 textarea,
.l-2cr .c-2 textarea,
.l-2cr-fluid.l-d-16 .c-1 textarea {
	width: 100%
}

.g-d-15 input[type="text"],
.l-2cr-fluid.l-d-15 .c-1 input[type="text"],
.g-d-15 input[type="email"],
.l-2cr-fluid.l-d-15 .c-1 input[type="email"],
.g-d-15 input[type="password"],
.l-2cr-fluid.l-d-15 .c-1 input[type="password"],
.g-d-15 select,
.l-2cr-fluid.l-d-15 .c-1 select,
.g-d-15 textarea,
.l-2cr-fluid.l-d-15 .c-1 textarea {
	width: 100%
}

.g-d-14 input[type="text"],
.l-2cr-fluid.l-d-14 .c-1 input[type="text"],
.g-d-14 input[type="email"],
.l-2cr-fluid.l-d-14 .c-1 input[type="email"],
.g-d-14 input[type="password"],
.l-2cr-fluid.l-d-14 .c-1 input[type="password"],
.g-d-14 select,
.l-2cr-fluid.l-d-14 .c-1 select,
.g-d-14 textarea,
.l-2cr-fluid.l-d-14 .c-1 textarea {
	width: 100%
}

.g-d-13 input[type="text"],
.l-2cr-fluid.l-d-13 .c-1 input[type="text"],
.g-d-13 input[type="email"],
.l-2cr-fluid.l-d-13 .c-1 input[type="email"],
.g-d-13 input[type="password"],
.l-2cr-fluid.l-d-13 .c-1 input[type="password"],
.g-d-13 select,
.l-2cr-fluid.l-d-13 .c-1 select,
.g-d-13 textarea,
.l-2cr-fluid.l-d-13 .c-1 textarea {
	width: 100%
}

.g-d-12 input[type="text"],
.l-2cr-fluid.l-d-12 .c-1 input[type="text"],
.g-d-12 input[type="email"],
.l-2cr-fluid.l-d-12 .c-1 input[type="email"],
.g-d-12 input[type="password"],
.l-2cr-fluid.l-d-12 .c-1 input[type="password"],
.g-d-12 select,
.l-2cr-fluid.l-d-12 .c-1 select,
.g-d-12 textarea,
.l-2cr-fluid.l-d-12 .c-1 textarea {
	width: 100%
}

.g-d-11 input[type="text"],
.l-2cr-fluid.l-d-11 .c-1 input[type="text"],
.g-d-11 input[type="email"],
.l-2cr-fluid.l-d-11 .c-1 input[type="email"],
.g-d-11 input[type="password"],
.l-2cr-fluid.l-d-11 .c-1 input[type="password"],
.g-d-11 select,
.l-2cr-fluid.l-d-11 .c-1 select,
.g-d-11 textarea,
.l-2cr-fluid.l-d-11 .c-1 textarea {
	width: 100%
}

.g-d-10 input[type="text"],
.l-2cr-fluid.l-d-10 .c-1 input[type="text"],
.g-d-10 input[type="email"],
.l-2cr-fluid.l-d-10 .c-1 input[type="email"],
.g-d-10 input[type="password"],
.l-2cr-fluid.l-d-10 .c-1 input[type="password"],
.g-d-10 select,
.l-2cr-fluid.l-d-10 .c-1 select,
.g-d-10 textarea,
.l-2cr-fluid.l-d-10 .c-1 textarea {
	width: 100%
}

.g-d-9 input[type="text"],
.l-2cr-fluid.l-d-9 .c-1 input[type="text"],
.g-d-9 input[type="email"],
.l-2cr-fluid.l-d-9 .c-1 input[type="email"],
.g-d-9 input[type="password"],
.l-2cr-fluid.l-d-9 .c-1 input[type="password"],
.g-d-9 select,
.l-2cr-fluid.l-d-9 .c-1 select,
.g-d-9 textarea,
.l-2cr-fluid.l-d-9 .c-1 textarea {
	width: 100%
}

.g-d-8 input[type="text"],
.l-2c .c-1 input[type="text"],
.l-2cr .c-1 input[type="text"],
.l-2cr-fluid.l-d-8 .c-1 input[type="text"],
.g-d-8 input[type="email"],
.l-2c .c-1 input[type="email"],
.l-2cr .c-1 input[type="email"],
.l-2cr-fluid.l-d-8 .c-1 input[type="email"],
.g-d-8 input[type="password"],
.l-2c .c-1 input[type="password"],
.l-2cr .c-1 input[type="password"],
.l-2cr-fluid.l-d-8 .c-1 input[type="password"],
.g-d-8 select,
.l-2c .c-1 select,
.l-2cr .c-1 select,
.l-2cr-fluid.l-d-8 .c-1 select,
.g-d-8 textarea,
.l-2c .c-1 textarea,
.l-2cr .c-1 textarea,
.l-2cr-fluid.l-d-8 .c-1 textarea {
	width: 100%
}

.g-d-7 input[type="text"],
.l-2cr-fluid.l-d-7 .c-1 input[type="text"],
.g-d-7 input[type="email"],
.l-2cr-fluid.l-d-7 .c-1 input[type="email"],
.g-d-7 input[type="password"],
.l-2cr-fluid.l-d-7 .c-1 input[type="password"],
.g-d-7 select,
.l-2cr-fluid.l-d-7 .c-1 select,
.g-d-7 textarea,
.l-2cr-fluid.l-d-7 .c-1 textarea {
	width: 100%
}

.g-d-6 input[type="text"],
.l-2cr-fluid.l-d-6 .c-1 input[type="text"],
.g-d-6 input[type="email"],
.l-2cr-fluid.l-d-6 .c-1 input[type="email"],
.g-d-6 input[type="password"],
.l-2cr-fluid.l-d-6 .c-1 input[type="password"],
.g-d-6 select,
.l-2cr-fluid.l-d-6 .c-1 select,
.g-d-6 textarea,
.l-2cr-fluid.l-d-6 .c-1 textarea {
	width: 100%
}

.g-d-5 input[type="text"],
.l-2cr-fluid.l-d-5 .c-1 input[type="text"],
.g-d-5 input[type="email"],
.l-2cr-fluid.l-d-5 .c-1 input[type="email"],
.g-d-5 input[type="password"],
.l-2cr-fluid.l-d-5 .c-1 input[type="password"],
.g-d-5 select,
.l-2cr-fluid.l-d-5 .c-1 select,
.g-d-5 textarea,
.l-2cr-fluid.l-d-5 .c-1 textarea {
	width: 100%
}

.g-d-4 input[type="text"],
.l-2cr-fluid.l-d-4 .c-1 input[type="text"],
.g-d-4 input[type="email"],
.l-2cr-fluid.l-d-4 .c-1 input[type="email"],
.g-d-4 input[type="password"],
.l-2cr-fluid.l-d-4 .c-1 input[type="password"],
.g-d-4 select,
.l-2cr-fluid.l-d-4 .c-1 select,
.g-d-4 textarea,
.l-2cr-fluid.l-d-4 .c-1 textarea {
	width: 100%
}

.g-d-3 input[type="text"],
.l-2cr-fluid.l-d-3 .c-1 input[type="text"],
.g-d-3 input[type="email"],
.l-2cr-fluid.l-d-3 .c-1 input[type="email"],
.g-d-3 input[type="password"],
.l-2cr-fluid.l-d-3 .c-1 input[type="password"],
.g-d-3 select,
.l-2cr-fluid.l-d-3 .c-1 select,
.g-d-3 textarea,
.l-2cr-fluid.l-d-3 .c-1 textarea {
	width: 100%
}

.g-d-2 input[type="text"],
.l-2cr-fluid.l-d-2 .c-1 input[type="text"],
.g-d-2 input[type="email"],
.l-2cr-fluid.l-d-2 .c-1 input[type="email"],
.g-d-2 input[type="password"],
.l-2cr-fluid.l-d-2 .c-1 input[type="password"],
.g-d-2 select,
.l-2cr-fluid.l-d-2 .c-1 select,
.g-d-2 textarea,
.l-2cr-fluid.l-d-2 .c-1 textarea {
	width: 100%
}

.g-d-1 input[type="text"],
.l-2cr-fluid.l-d-1 .c-1 input[type="text"],
.g-d-1 input[type="email"],
.l-2cr-fluid.l-d-1 .c-1 input[type="email"],
.g-d-1 input[type="password"],
.l-2cr-fluid.l-d-1 .c-1 input[type="password"],
.g-d-1 select,
.l-2cr-fluid.l-d-1 .c-1 select,
.g-d-1 textarea,
.l-2cr-fluid.l-d-1 .c-1 textarea {
	width: 100%
}

.g-d-0 input[type="text"],
.g-d-0 input[type="email"],
.g-d-0 input[type="password"],
.g-d-0 select,
.g-d-0 textarea {
	width: 100%
}

.l-show,
.h-show,
.hp-show,
.hl-show,
.t-show,
.tp-show,
.tl-show {
	display: none !important
}

.d-hide {
	display: none !important
}

.d-show {
	display: block !important
}

a.d-show,
abbr.d-show,
acronym.d-show,
audio.d-show,
b.d-show,
basefont.d-show,
bdo.d-show,
big.d-show,
br.d-show,
canvas.d-show,
cite.d-show,
code.d-show,
command.d-show,
datalist.d-show,
dfn.d-show,
em.d-show,
embed.d-show,
font.d-show,
i.d-show,
img.d-show,
input.d-show,
keygen.d-show,
kbd.d-show,
label.d-show,
mark.d-show,
meter.d-show,
output.d-show,
progress.d-show,
q.d-show,
rp.d-show,
rt.d-show,
ruby.d-show,
s.d-show,
samp.d-show,
select.d-show,
small.d-show,
span.d-show,
strike.d-show,
strong.d-show,
sub.d-show,
sup.d-show,
textarea.d-show,
time.d-show,
tt.d-show,
u.d-show,
var.d-show,
video.d-show,
wbr.d-show {
	display: inline !important
}

.g-d-c,
.g-all-c {
	*zoom: 1
}

.g-d-c:after,
.g-all-c:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.g-d-c-fluid,
.l-2c-fluid:not(.grp-cell),
.l-2cr-fluid {
	position: relative;
	float: none;
	clear: both;
	display: table;
	table-layout: fixed;
	width: 100%;
	*zoom: 1
}

.g-d-c-fluid:after,
.l-2c-fluid:not(.grp-cell):after,
.l-2cr-fluid:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.g-d-c-fluid>*[class^=g-d],
.l-2c-fluid:not(.grp-cell)>*[class^=g-d],
.l-2cr-fluid>*[class^=g-d] {
	position: relative;
	display: table-cell;
	float: none;
	vertical-align: top
}

body:not(.rtl) .g-d-c-fluid,
body:not(.rtl) .l-2c-fluid:not(.grp-cell),
body:not(.rtl) .l-2cr-fluid {
	margin-right: 0 !important;
	padding-right: 0 !important
}

body:not(.rtl) .g-d-c-fluid>*[class^=g-d],
body:not(.rtl) .l-2c-fluid:not(.grp-cell)>*[class^=g-d],
body:not(.rtl) .l-2cr-fluid>*[class^=g-d] {
	pmargin-right: 0 !important;
	padding-right: 20px
}

body:not(.rtl) .g-d-c-fluid>*[class^=g-d].g-d-l,
body:not(.rtl) .l-2c-fluid:not(.grp-cell)>*[class^=g-d].g-d-l,
body:not(.rtl) .l-2cr-fluid>*[class^=g-d].g-d-l,
body:not(.rtl) .g-d-c-fluid>*[class^=g-d].g-all-l,
body:not(.rtl) .l-2c-fluid:not(.grp-cell)>*[class^=g-d].g-all-l,
body:not(.rtl) .l-2cr-fluid>*[class^=g-d].g-all-l,
body:not(.rtl) .g-d-c-fluid>*[class^=g-d].g-all-fl,
body:not(.rtl) .l-2c-fluid:not(.grp-cell)>*[class^=g-d].g-all-fl,
body:not(.rtl) .l-2cr-fluid>*[class^=g-d].g-all-fl,
body:not(.rtl) .l-2c .g-d-c-fluid>*[class^=g-d].c-2,
.l-2c body:not(.rtl) .g-d-c-fluid>*[class^=g-d].c-2,
body:not(.rtl) .l-2c .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
.l-2c body:not(.rtl) .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
body:not(.rtl) .l-2c .l-2cr-fluid>*[class^=g-d].c-2,
.l-2c body:not(.rtl) .l-2cr-fluid>*[class^=g-d].c-2,
body:not(.rtl) .l-2cr .g-d-c-fluid>*[class^=g-d].c-2,
.l-2cr body:not(.rtl) .g-d-c-fluid>*[class^=g-d].c-2,
body:not(.rtl) .l-2cr .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
.l-2cr body:not(.rtl) .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
body:not(.rtl) .l-2cr .l-2cr-fluid>*[class^=g-d].c-2,
.l-2cr body:not(.rtl) .l-2cr-fluid>*[class^=g-d].c-2 {
	padding-right: 0
}

body.rtl .g-d-c-fluid,
body.rtl .l-2c-fluid:not(.grp-cell),
body.rtl .l-2cr-fluid {
	margin-left: 0 !important;
	padding-left: 0 !important
}

body.rtl .g-d-c-fluid>*[class^=g-d],
body.rtl .l-2c-fluid:not(.grp-cell)>*[class^=g-d],
body.rtl .l-2cr-fluid>*[class^=g-d] {
	margin-left: 0 !important;
	padding-left: 20px
}

body.rtl .g-d-c-fluid>*[class^=g-d].g-d-l,
body.rtl .l-2c-fluid:not(.grp-cell)>*[class^=g-d].g-d-l,
body.rtl .l-2cr-fluid>*[class^=g-d].g-d-l,
body.rtl .g-d-c-fluid>*[class^=g-d].g-all-l,
body.rtl .l-2c-fluid:not(.grp-cell)>*[class^=g-d].g-all-l,
body.rtl .l-2cr-fluid>*[class^=g-d].g-all-l,
body.rtl .g-d-c-fluid>*[class^=g-d].g-all-fl,
body.rtl .l-2c-fluid:not(.grp-cell)>*[class^=g-d].g-all-fl,
body.rtl .l-2cr-fluid>*[class^=g-d].g-all-fl,
body.rtl .l-2c .g-d-c-fluid>*[class^=g-d].c-2,
.l-2c body.rtl .g-d-c-fluid>*[class^=g-d].c-2,
body.rtl .l-2c .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
.l-2c body.rtl .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
body.rtl .l-2c .l-2cr-fluid>*[class^=g-d].c-2,
.l-2c body.rtl .l-2cr-fluid>*[class^=g-d].c-2,
body.rtl .l-2cr .g-d-c-fluid>*[class^=g-d].c-2,
.l-2cr body.rtl .g-d-c-fluid>*[class^=g-d].c-2,
body.rtl .l-2cr .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
.l-2cr body.rtl .l-2c-fluid:not(.grp-cell)>*[class^=g-d].c-2,
body.rtl .l-2cr .l-2cr-fluid>*[class^=g-d].c-2,
.l-2cr body.rtl .l-2cr-fluid>*[class^=g-d].c-2 {
	padding-left: 0
}

.g-base-c {
	*zoom: 1
}

.g-base-c:after {
	content: "";
	display: table;
	clear: both
}

.g-base-c.g-centered {
	float: none;
	margin: 0 auto
}

.l-2c-fluid:not(.grp-cell) .c-1 {
	margin-right: 0;
	padding-right: 20px;
	vertical-align: top
}

.l-2c-fluid:not(.grp-cell) .c-2 {
	float: none;
	display: table-cell;
	width: 100%;
	vertical-align: top
}

.grp-row>.l-2c-fluid:not(.grp-cell) .c-2 {
	padding-right: 0
}

.l-2cr-fluid .c-1 {
	float: right !important;
	display: table-cell;
	margin-right: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	padding-left: 20px !important;
	vertical-align: top
}

.l-2cr-fluid .c-2 {
	float: right !important;
	display: table-cell;
	margin-right: 0 !important;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top
}

.grp-module .l-2c-fluid .c-2 {
	padding-right: 10px
}

.grp-module .l-2c-fluid.grp-cell .c-1 {
	display: table-cell;
	vertical-align: top
}

.grp-module .l-2c-fluid.grp-cell .c-2 {
	display: table-cell;
	float: none;
	padding-right: 0;
	width: auto !important;
	vertical-align: top
}

.grp-module .l-2c-fluid.grp-cell .c-2 * {
	white-space: pre-wrap
}